@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url(../css/padrao.css);

a{
    text-decoration: none;
}  
             
*{
    font-family: 'Futura Std', sans-serif; 
}

p{font-family: 'Futura Std', sans-serif;}
h1{font-family: 'Futura Std', sans-serif;}

 /* padrão de computador*/
@media (max-width: 4000px) {   

}
 /* padrão de tablet*/
@media (max-width: 768px) {

}
 /*padrão de celular*/
@media (max-width: 450px) {
    body{
        background-color: orange;
    }

    header img{
        margin-top: 5px;
        margin-left: 5px;
    }

    .s1 img{
        border-radius: 50%;
        outline: 3px solid rgb(203,203,219); /*semelhante a uma borda*/
        outline-offset: 1px; /*afastamento do outline*/
        width: 50px;
        height: 50px;
    }
    .s1 h1{
        font-size: 30px;
        font-weight: bold;
        color: white;
        padding: 30px 0px;
    }

    .slider{
        width: 100%;
        overflow: hidden;
        height: 250px;
        padding: 20px 0px;
    }

    .slider_principal{
        display: flex;
        width: 200%;
    }

    .slidee{
        width: 50%;
        transition: margin-left 2s;
    }

    .slider input{
        display: none;
    }

    .quadradinhos{
        text-align: center;
        margin-top: -25px;
    }

    .quadradinhos label{
        margin-left: 5%;
        margin-right: 5%;
    }

    #bola1:checked ~.primeiro{
        margin-left: 0;
        /*Se a bola1 for marcada o elemento primeiro vai receber o efeito*/
    }
    #bola2:checked ~.primeiro{
        margin-left: -50%;
        /*Se a bola2 for marcada o elemento primeiro vai receber o efeito*/
    }

    .quadradinhos img{
        width: 3%;
        outline: 3px solid white;
    }

    .s3 h1{
        margin-top: 25px;
    }
}