@import url('https://fonts.cdnfonts.com/css/futura-std-4');
@import url(../css/padrao.css);

a{
    text-decoration: none;
}  
             
*{
    font-family: 'Futura Std', sans-serif; 
}

p{font-family: 'Futura Std', sans-serif;}
h1{font-family: 'Futura Std', sans-serif;}

 /* padrão de computador*/
@media (max-width: 4000px) {   

}
 /* padrão de tablet*/
@media (max-width: 768px) {

}
 /*padrão de celular*/
@media (max-width: 450px) {
    body{
        background-color: orange;
    }

    header img{
        margin-top: 5px;
        margin-left: 5px;
    }

    .s1 img{
        border-radius: 50%;
        outline: 3px solid rgb(203,203,219); /*semelhante a uma borda*/
        outline-offset: 1px; /*afastamento do outline*/
        width: 50px;
        height: 50px;
    }
    .s1 h1{
        font-size: 30px;
        font-weight: bold;
        color: white;
        padding: 30px 0px;
    }

    .slider{
        width: 100%;
        overflow: hidden;
        height: 250px;
        padding: 20px 0px;
    }

    .slider_principal{
        display: flex;
        width: 200%;
    }

    .slidee{
        width: 50%;
        transition: margin-left 2s;
    }

    .slider input{
        display: none;
    }

    .quadradinhos{
        text-align: center;
        margin-top: -25px;
    }

    .quadradinhos label{
        margin-left: 5%;
        margin-right: 5%;
    }

    #bola1:checked ~.primeiro{
        margin-left: 0;
        /*Se a bola1 for marcada o elemento primeiro vai receber o efeito*/
    }
    #bola2:checked ~.primeiro{
        margin-left: -50%;
        /*Se a bola2 for marcada o elemento primeiro vai receber o efeito*/
    }

    .quadradinhos img{
        width: 3%;
        outline: 3px solid white;
    }

    .s3{
        padding-top: 40px;
        text-align: center;
    }

    .s3 select{
        margin: 10px 0;
        width: 50%;
        font-size: 20px;
    }

    .s3 h1{
        font-size: 20px;
        color: white;
    }

    .s3 button{
        font-size: 20px;
        background-color: red;
        color: white;
        border: none;
    }

    .s3 button:hover{
        background-color: black;
    }

    .fixo{
        height: 50px;
        background-color: rgba(0, 0, 0, 0.705);
        position: absolute;
        z-index: 2;
        bottom: 0px;
        width: 100%;
        color: white;
    }

    .pedidosS2{
        padding-top: 50px;
    }

    .historico{
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid black;
    }

    .historico img{
        border-radius: 50%;
    }

    .historico h1{
        padding-top: 10px;
        font-size: 20px;
    }

    .historico button{
        background-color: black;
        border: none;
        color: white;
        text-transform: uppercase;
        padding: 10px 10px;
        margin-right: 5px;
        margin-top: 5px;
    }

    .pedidosS2 h1{
        color: orange;
    }

    .meusdadosS2{
        padding-top: 20px;
        text-align: center;
    }

    .meusdadosS2 .ddd{
        width: 11%;
    }

    .meusdadosS2 .cell{
        width: 66%;
        margin-left: 2%;
    }

    .meusdadosS2 .nome{
        width: 80%;
    }

    .meusdadosS2 .endereco{
        width: 80%;
    }
    .meusdadosS2 .complemento{
        width: 80%;
    }

    .meusdadosS2 .cartao{
        width: 80%;
    }

    .meusdadosS2 input{
        border-radius: 5px;
        border: none;
        height: 30px;
    }

    .check{
        text-align: left;
        margin-left: 9%;
    }

    .meusdadosS2 button{
        background-color: black;
        color: white;
        border: none;
        width: 80%;
        height: 40px;
        font-size: 20px;
        margin-top: 5px;
    }

    .meusdadosS2 button:hover{
        background-color: rgb(1,161,52);
        color: black;
    }

    .meusdadosS2 h1{
        padding-top: 10px;
        font-size: 16px;
        margin:  5px 0;
    }

    .usuario{
        width: 50%;
        height: 25px;
        font-size: 20px;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .senha{
        width: 50%;
        height: 25px;
        font-size: 20px;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }

    .logar{
        background-color: white;
        border: 2px solid black;
        color: black;
        text-transform: uppercase;
        width: 50% !important;
    }

    a{
        color: black;
        text-decoration: none;
    }

    .recolher{
        transform: rotate(180deg);
    }

    .grupo1{
        background-color: white;
        border: 2px solid black;
        margin-top: 10px;
        margin-left: 1.8%;
        font-size: 20px;
        padding: 5px;
    }

    .grupo1 .imagem1{
        text-align: left;
    }

    .grupo2{
        background-color: white;
        border: 2px solid black;
        margin-left: 8%;
        font-size: 20px;
        padding: 5px;
    }

    .grupo2 .resposta h1{
        font-size: 15px;
        text-align: right;
    }

}